  <div class="header">
    <div class="searcher">
        <div class="logo">
        <%= link_to '/' do%>
          <%= image_tag 'ps_logo.png' %>
        <%end%>
      </div>

      <%= form_with url: search_path, local: true, method: :get, html: { class: "search-box search-form"} do |form| %>
      <%= form.text_field :q, placeholder: "O que procura?", data: {behavior: "autocomplete"}, class: "search-input" %>
      <%= form.submit "Pesquisar", class: "orange-flat-button" %>
      <% end %>

    </div>
  </div>
  <hr>
