<div>
  <div class="container" >
    <% @power_generators.each do |power_generator| %>
        <div class="box card power_generator-card">
          <%= link_to power_generator_path(power_generator) do%>
            <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
          <%end%>

          <div class="power_generator-card__body">
            <%= link_to power_generator_path(power_generator) do%>
              <h2><%= power_generator.name.upcase %></h2>
            <%end%>
            <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
            <p><strong>Descrição: </strong><%= power_generator.description %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
