<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>

  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>

    <%= form_with url: search_path, local: true, method: :get, html: { class: "simple-form"} do |form| %>
     <%= form.submit "Pesquisar", class: "simple-form__btn btn btn-outline-primary btn-lg" %>
      <%= form.text_field :q, placeholder: "O que procura?", data: {behavior: "autocomplete"}, class: "simple-form__input form-control form-control-lg" %>
    <% end %>

      <div class="advanced-form" style="display:none;">
        Entradas do usuário para pesquisar uma coleção de geradores de energia com base nas recomendações fornecidas e melhor custo de frete.
      </div>
  </div>

  <div class="container" >
    <% @power_generators.each do |power_generator| %>
        <div class="box card power_generator-card">
          <%= link_to power_generator_path(power_generator) do%>
            <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
          <%end%>

          <div class="power_generator-card__body">
            <%= link_to power_generator_path(power_generator) do%>
              <h2><%= power_generator.name.upcase %></h2>
            <%end%>
            <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
            <p><strong>Descrição: </strong><%= power_generator.description %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
