<div>
  <div class="product-modal" >
    <%= image_tag @power_generators.first.image_url, class: 'product-image' %>
    
    <div class="product-info">
          <h2><%= @power_generators.first.name.upcase %></h2>
          <p class="power_generator-card__price"><%= number_to_currency(@power_generators.first.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
          <p><strong>Descrição: </strong><%= @power_generators.first.description %></p>
    </div>

    <div class="product-freight">
      <h2>CEP:</h2>
      <input type="text" name="cep" data-zipcode>
      <%= button_tag 'Enviar', onclick: "FreightCost(#{@power_generators.first.id})"%>
      <p>Preço da entrega: <span data-freight></span></p>
    </div>
  </div>

</div>
